.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

:root {
  --text_lg: 32px;
  --text_bold: 100;
  --text_md: 22px;
  --text_sm: 18px;
  --decription_size: 16px;
  --text-light: 100;
  --card_color: #d9d9d9;
  --icon_size: 50px;
  --cyber_color: #60e399;
  --img_size: 100px;
  --dark_color: #100e17;
  --opacity: 0.8;
  --grey_color: #17141d;
}

@media screen and (max-width: 1400px) {
  :root {
    --text_lg: 24px;
    --text_md: 16px;
    --text_sm: 12px;
    --icon_size: 35px;
    --img_size: 80px;
  }
}

.wrapper {
  background-color: var(--grey_color);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  cursor: url("../assets/arrow.png"), auto;
  width: 55vw;
}

h2 {
  font-size: var(--text_lg);
  font-weight: var(--text_bold);
  margin: 1rem;
}
h2 span {
  position: relative;
  z-index: 2;
  margin: 0 0.5rem;
}
h2 span::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 55%;
  top: 5px;
  left: -12px;
  z-index: -1;
  background-color: var(--cyber_color);
  opacity: var(--opacity);
}

h3 {
  font-weight: var(--text-light);
  margin: 1rem;
  font-size: var(--text_md);
}

p {
  font-size: var(--text_md);
  text-align: center;
  margin: 1rem 0;
}
/* about */
.about {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.about img {
  height: var(--img_size);
  border-radius: 10px;
  /* box-shadow: -8px -8px 0.9rem -0.2rem var(--cyber_color); */
}
.image {
  margin: 0 2rem;
  position: relative;
}

.image::after {
  content: "";
  width: 100%;
  height: var(--img_size);
  border-radius: 10px;
  background-image: url("../assets/avatar.jpg");
  background-size: cover;
  position: absolute;
  top: 15px;
  right: -5px;
  opacity: 0.8;
  z-index: -1;
  filter: blur(7px);
}

/* technologies */

.technologies {
  width: 45%;
}
.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: 0.4s ease-out;
}

.item span {
  font-size: var(--text_sm);
}

.technologies i {
  font-size: var(--icon_size);
  color: var(--cyber_color);
  padding: 1rem;
}
.item:hover {
  transform: translateY(-8px);
}

/* projects */
.projects {
  width: 50%;
}
/* buttons */
.button-wrapper {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 1.5rem auto;
}

.redirect {
  width: 110px;
  border: none;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  position: relative;
  transform: translate(0, 0);
  transition: 0.15s ease-out;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.redirect::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -7px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--cyber_color);
  border-radius: 5px;
  transform: translate(0, 0);
  transition: 0.15s ease-out;
}

.redirect:hover {
  transform: translate(-5px, -5px);
  color: white;
}

.redirect:hover::after {
  transform: translate(10px, 10px);
}

/* carousel */
/* .carousel {
  width: 70%;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  
}
.card {
  background-color: #100e17;
}

.carousel-inner {
  display: flex;
  padding: 0 2rem;
}


.project-image {
  width: 90%;
  border-radius: 20px;
  display: block;
  margin: 0 auto 1.5rem;
}

h5 {
  font-size: var(--text_sm);
} */
