body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Permanent Marker", cursive;
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

:root {
  --text_lg: 32px;
  --text_bold: 100;
  --text_md: 22px;
  --text_sm: 18px;
  --decription_size: 16px;
  --text-light: 100;
  --card_color: #d9d9d9;
  --icon_size: 50px;
  --cyber_color: #60e399;
  --img_size: 100px;
  --dark_color: #100e17;
  --opacity: 0.8;
  --grey_color: #17141d;
}

@media screen and (max-width: 1520px) {
  :root {
    --text_lg: 24px;
    --text_md: 16px;
    --text_sm: 12px;
    --icon_size: 35px;
    --img_size: 80px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --text_lg: 18px;
    --text_md: 14px;
  }
}

.wrapper {
  background-color: var(--grey_color);
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  cursor: url("../assets/arrow.png"), auto;
  width: 55vw;
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding: 1rem;
    width: 70vw;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }
}

/* about */
.about {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}

.about img {
  height: var(--img_size);
  display: block;
  border-radius: 50%;
  transform: rotate(45deg);
}
.image {
  margin: 0 2rem;
  position: relative;
  border-radius: 50%;
  padding: 0.3rem;
  border-top: 2px solid transparent;
  border-left: 3px solid var(--cyber_color);
  border-right: 3px solid var(--cyber_color);
  border-bottom: 3px solid var(--cyber_color);
  transform: rotate(-45deg);
}

h2 {
  font-size: var(--text_lg);
  font-weight: var(--text_bold);
  margin: 1rem;
}
h2 span {
  position: relative;
  z-index: 2;
  margin: 0 0.5rem;
}

h2 br {
  display: none;
}

@media screen and (max-width: 1200px) {
  h2 br {
    display: block;
  }
}
h2 span::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 55%;
  top: 5px;
  left: -12px;
  z-index: -1;
  background-color: var(--cyber_color);
  opacity: var(--opacity);
}

@media screen and (max-width: 576px) {
  h2 span::after {
    width: 50%;
    height: 60%;
    left: -5px;
    top: 0px;
  }
}

h3 {
  font-weight: var(--text-light);
  margin: 1rem;
  font-size: var(--text_md);
}

p {
  font-size: var(--text_md);
  text-align: center;
  margin: 1rem 0;
}

/* technologies */

.technologies {
  width: 45%;
}

@media screen and (max-width: 992px) {
  .technologies {
    width: 100%;
  }
}
.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: 0.4s ease-out;
}

.item span {
  font-size: var(--text_sm);
}

.technologies i {
  font-size: var(--icon_size);
  color: var(--cyber_color);
  padding: 1rem;
}
.item:hover {
  transform: translateY(-8px);
}

/* projects */
.projects {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .projects {
    width: 100%;
  }
}

.project-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
}
@media screen and (max-width: 992px) {
  .project-description {
    flex-direction: column;
    align-items: flex-start;
  }
}
.project-description h5 {
  font-size: var(--text_sm);
  margin: 0;
}
/* buttons */
.button-wrapper {
  display: flex;
  /* width: 40%; */
  justify-content: space-between;
  /* margin: 1rem auto; */
}

.button-wrapper i {
  color: var(--cyber_color);
  padding: 0;
  margin: 0;
}

.redirect {
  width: 40px;
  border: none;
  padding: 0.3rem;
  background-color: black;
  color: white;
  position: relative;
  transform: translate(0, 0);
  transition: 0.15s ease-out;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 0.5rem;
  border: 2px solid var(--cyber_color);
  box-shadow: 7px 7px 0.3rem black;
}

@media screen and (max-width: 576px) {
  .redirect {
    width: 30px;
    padding: 0.2rem;
  }
}

.redirect:hover {
  transform: translate(5px, 5px);
  color: white;
}
